{% extends BASE_TEMPLATE|default:"base.htm" %}

{% block content %}
<section class="animated fadeIn" style="animation-delay: .15s;">
    <header class="m-5">
        <div class="headline text-center">
            <div class="container">
                <div class="h1 text-primary fw-bold mb-3">{{ title }}</div>
            </div>
        </div>
    </header>
</section>
<section class="animated fadeIn" style="animation-delay: .25s;">
    <div class="container-fluid my-5">
        {{ pyg|safe }}
    </div>
</section>
{% endblock content %}
